header {
  background-color: #444;
  .container {
    padding-top: 20px;
  }
  .menu-icon {
    text-align: right;
    display: none;
    svg {
      g {
        fill: #fff;
      }
    }
  }
  .menu {
    padding: 0;
    margin: 0 auto;

    li {
      float: left;
      display: block;

      a {
        padding: 20px;
        display: block;
        text-decoration: none;
        margin: 1px;
        color: #fff;
      }
    }
    li a:hover, li a.active {
      background-color: darkgrey;
    }

  }

}





