.work{
  .container{
    padding: 50px 150px ;

  }
  .sa-acordeon {
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    h4 {
      padding: 0;
      background-color: gainsboro;
      border: 1px solid gray;
      margin: 0 0 5px 0;

      span {
        padding-left: 10px;
      }
      a {
        box-sizing: border-box;
        text-decoration: none;
        padding-left: 10px;
        color: #000;
        display: inline-block;
        width: 100%
      }
    }
    h4 a:hover, h4.active {
      background-color: ghostwhite;
    }
    h4.active a i {
      transform: rotate(90deg);
    }
    .acord {
      display: none;
      margin-top: 20px;
      text-align: justify;
    }
    .acord.active {
      display: block;
    }
  }
}