.sa-tabs {
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
  ul {
    padding: 5px 0 0 5px;
    margin: 0 auto;
    list-style: none;
    background-color: darkgrey;

    li {
      display: inline-block;
      background-color: gray;
      border-radius: 6px;
      a {
        box-sizing: border-box;
        text-decoration: none;
        padding: 5px 40px;
        color: #000;
        display: inline-block
      }
    }
    li a:hover, li.active {
      background-color: gainsboro;
      border-radius: 6px;
    }
  }
  .tab {
    display: none;
    margin-top: 15px;
  }
  .tab.active {
    display: block;
  }
}


